<div class="jumbotron-custom3 text-center" style="color:black">
    <br />
    <h2 class="display-5">About Us</h2> <br />
    <p class="lead"><b>We know that time is money. This is why we started our company, as a team of <br /> professionals tired of the same old results.
    Data Services was formed in 2005 and has since created some of the most noteworthy <br /> applications and data driven products to date.
    </b></p>
    <br />
    <p class="lead"><b>We specialize in data manipulation and consumption and will be your first line of defense and choice for all things data.</b></p>
    <br />

    <p><b>Would you like to learn more?</b></p>
    <a class="btn btn-info btn-lg" routerLink="/contact" role="button">Contact Us</a>
  </div>
