<div id="container">

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(19, 16, 10);">
  <a class="navbar-brand" routerLink="/home">
      <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjj431JSJrlrjmP9DJqqalZ1SMXfGtTjBLETkXqVlzzZ0c5QiuJA" width="30" height="30" class="d-inline-block align-top" alt=""> -->
{{title}}    <i class="material-icons">
        track_changes
    </i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-text" style="color: rgb(241, 184, 76)">
      Data Redefined
      <i class="material-icons">
          timeline
          </i>
    </span> 
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li> 
      <li>
          <a class="nav-link" routerLink="/about">About Us</a>
      </li>   
      
    </ul>
    
  </div>
</nav>
</div>
