.error {
    margin-top: -20px;
    padding: .5em;
    display: inline-block;
    font-size: .6em;
    margin-bottom: 20px;
    color: red;
}

.alertsContainer .alertsRow.success .messagepanel {
    color: white;
    background: #fff;
}