<div class="jumbotron text-center" style="background:rgb(252, 252, 252)"
>
    <h1 class="display-4">Welcome to Data Services</h1> <br />
    <p class="lead"><b>Here at Data Services, we pride ourselves on offering the latest in Data Analytics and trending Data Science news. <br /> We are a group of Data Scientists eager to change the outlook on data consumption.</b></p>
    <hr class="my-4">
    <p><b>See what we have to offer.</b></p>
    <a class="btn btn-info btn-lg" routerLink="/about" role="button">Learn more</a>
  </div>
<br />

<div class="jumbotron-custom text-center" style="color:white">
    <br />
    <h1 class="display-4">Our Products</h1> <br />
    <p class="lead"><b>Our Products have generated millions in revenue.</b></p>
    <hr class="my-4">
    <p><b>Are you next?</b></p>
    <a class="btn btn-info btn-lg" routerLink="/contact" role="button">Contact Us</a>
  </div>
  <br />
  <br/>
  <br />
  
<div class="jumbotron-custom2 text-center" style="color:black;">
  <br />
    <h1 class="display-4">Analytics Made Easy</h1> <br />
    <p class="lead"><b>Our Clients are highly satisfied with real time communication and a responsive team.</b></p>
    <!-- <hr class="my-4"> -->
    <p><b>Become a part of our journey today.</b></p>
    <!-- <a class="btn btn-info btn-lg" routerLink="/contact" role="button">Contact Us</a> -->
  </div>
  <br />
  <br />
  
  
